* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: Arial, Helvetica, sans-serif;
	padding-bottom:500px;
}





/* My CSS */





#main{
 margin:auto;
	max-width: 800px;
	padding:30px;
}

#gmap{
	width:100%;
 
}



p{
  margin-top:10px;
  line-height: 1.4;
  margin-bottom:10px;
}

h2{
  margin-bottom:4px;
  margin-top:14px;
}

.button {
  border: none;
  color: white;
	background-color: #008080;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	margin: 0  ;
	margin-top: 30px;
	display: block;
	cursor:pointer;
  border-radius: 0px;
}



/* APPLYING MEDIA QUERIES */
@media (min-width: 701px) {

	#photos img{
		margin:30px 30px 0px 30px;
		width:50%
	}

	#photos h1{
		margin:30px 30px 0px 30px;

	}


	#mapContainer {
	    position: relative;
		display:block;
		width
	}
	
	#map {
		position: fixed;
		display:block;
		top: 110px;
		right: 30px;

		padding: 0px;
		margin: 0px;
		width:40%;
	}

	#mapViewIcon {
		position: static;
		display:block;
		float:right;
		top: 10%;
		Left:10%;

		height: 20px;
	}
}

/* MENU BAR */

a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: teal;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}



/* APPLYING MEDIA QUERIES */
@media (max-width: 700px) {
  h1{
    font-size: 20;
  }
		#photos h1{
		margin:30px 30px 0px 30px;

	}

	
	#photos img{
		margin:30px 30px 0px 30px;
		width:87%
	}
	
	#mapContainer {
	    position: relative;
	}

	#mapViewIcon {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 1;

	}
		
	#map  {
		position: fixed;
		bottom: 0px;
		right: 0px;
		z-index: 1;
		padding: 0px;
		margin: 0px;
		width:100%;
	}

	


.menu { 
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
z-index:1;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}

.inline{
  color:#008080;
  text-decoration: underline;
}

  
.inline:hover{
  color:#01cbcb;
}

td{
  padding:4px;
}

.photoButtons{
  margin-left:30px;
}